.fib-banner-wrapper {
    background-color: #0d084d;
}

.business-text {
    color: #fff;
}

.business-text h2 {
    font-size: 32px;
    line-height: 120%;
    max-width: 450px;
    padding-bottom: 24px;
}

.business-text p {
    font-size: 18px;
    line-height: 26px;
    max-width: 450px;
    padding-bottom: 24px;
}

.business-text li {
    padding-bottom: 12px;

}

.business-text span {
   /* line-height: 4px; */
}

@media only screen and (min-width: 1160px) {
    .lohp-inner-row {
        padding-bottom: 96px;
        padding-top: 96px;
    }
}

@media only screen and (min-width: 900px) {
    .lohp-inner-row {
        padding-bottom: 64px;
        padding-top: 64px;
    }
}

.lohp-inner-row {
    padding-bottom: 48px;
    padding-top: 48px;
}

.fiverrbusiness {
    padding-bottom: 96px;
    padding-top: 96px;
}

/* .max-width-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 24px 24px 48px;
    width: 100%;
} */


/* Button */

.ZQi_S8t {
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 70ms cubic-bezier(.75, 0, .25, 1);
}

.bg-co-green-700 {
    background-color: #1dbf73;
}

.co-white {
    color: #fff;
}

.business-text a:hover {
    background-color: #19a463;
    text-decoration: none;
    color: #fff;
}