@import '../../../index.scss';

.landingPage {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;

  .slider {
    width: 100%;
    z-index: -10;
    position: relative;

    .sliderHeaderContainer {
      position: absolute;
      height: 680px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 1400px;
      margin: auto;
    }
  }

  .services {
    margin-top: 96px;
  }

  .trustBy {

  }

  .freelance {
    margin-top: 96px;
  }

  .marketPlace {
    margin-top: 96px;
  }

  .logoMaker {
    margin-top: 96px;
  }

  .fiverrGuides {
    margin-top: 96px;
  }
}

.ourFreelancers {
  margin-top: 96px;
  padding-bottom: 96px;
  padding-top: 96px;
}

@include responsive (mobile) {}